body.list > main {
    align-items: center;
    padding: 5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main > .wrap > section > table {
    width: var(--board-width-max);
    border-collapse: collapse;
    border-top: 0.125rem solid #2b2b2b;
    margin-bottom: 0.825rem;
}

main > .wrap > section > table > thead > tr.read-header > th,
main > .wrap > section > table > thead > tr.read-header > td {
    width: 15%;
}

main > .wrap > section > table > tr > td {}

main > .wrap > section > table > thead > tr > * {
    border-bottom: 0.0625rem solid var(--border-color-default);
    padding: 1rem 0;
}

main > .wrap > section > table > thead > tr:nth-child(2) > * {
    border-bottom: 0.0625rem solid #2b2b2b;
}

main > .wrap > section > table > tbody > tr.content {

}

main > .wrap > section > table > tbody > tr.content > td {
    width: 100%;
    border-bottom: 0.0625rem solid #2b2b2b;
    padding: 10rem 2rem;
}





main > .wrap > section > table > tbody > tr.button {

}

main > .wrap > section > table > tbody > tr.button > td:last-child {
    text-align: right;
}

main > .wrap > section > table > tbody > tr.button > td:last-child > * {
    margin-left: 0.3rem;
}



main > .wrap > section > div.read-footer > div.button {
    display: flex;
    flex-direction: row;
}

main > .wrap > section > div.read-footer > div.button > div.left-button > a,
main > .wrap > section > div.read-footer > div.button > div.right-button > a {
    width: 7rem;
    box-sizing: border-box;
    padding: 0.825rem 0;
    margin: 0.825rem 0 1.5rem 0;
}

main > .wrap > section > div.read-footer > div.button > div.stretch {
    flex: 1;
}

main > .wrap > section > div.read-footer > div.comment-read {
    margin-bottom: 3rem;
}

main > .wrap > section > div.read-footer > div.comment-read,
main > .wrap > section > div.read-footer > div.comment-write {
    border: 0.0625rem solid var(--border-color-default);
    text-align: left;
}

main > .wrap > section > div.read-footer > div.comment-read > div.read-head,
main > .wrap > section > div.read-footer > div.comment-write > div.read-head {
    border-bottom: 0.0625rem solid var(--border-color-default);
    padding: 0.5rem 2rem;
}

main > .wrap > section > div.read-footer > div.comment-read > div.read-head > span {
    color: #80858a;
    font-size: 0.6rem;
    font-weight: 400;
    padding: 0 1rem;
}

main > .wrap > section > div.read-footer > div.comment-read > div.read-cont {
    font-size: 0.8rem;
    padding: 2rem;
}

main > .wrap > section > div.read-footer > div.comment-write > div.write-head {
    background-color: #f7f7f7;
    padding: 0.6rem 2rem;
}

main > .wrap > section > div.read-footer > div.comment-write > div.write-cont > form input {
    width: 9.5%;
    border: none;
    box-sizing: border-box;
    padding: 2rem;
    outline: none;
}

main > .wrap > section > div.read-footer > div.comment-write > div.write-cont > form > label > input {
    width: 90%;
    border-right: 0.0625rem solid var(--border-color-default);
}