body.list > main {
    align-items: center;
    padding: 5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main > .wrap > section > table {
    width: var(--board-width-max);
    border-collapse: collapse;
    border-top: 0.125rem solid #2b2b2b;
    margin-bottom: 3rem;
}

main > .wrap > section > table > thead > tr.read-header > th,
main > .wrap > section > table > thead > tr.read-header > td {
    width: 15%;
}

main > .wrap > section > table > tr > td {}

main > .wrap > section > table > thead > tr > * {
    border-bottom: 0.0625rem solid var(--border-color-default);
    padding: 1rem 0;
}

main > .wrap > section > table > thead > tr:nth-child(2) > * {
    border-bottom: 0.0625rem solid #2b2b2b;
}

main > .wrap > section > table > tbody > tr.content > td {
    width: 100%;
    border-bottom: 0.0625rem solid #2b2b2b;
    padding: 10rem 2rem;
}

main > .wrap > section > table > tbody > tr.button {

}

main > .wrap > section > table > tbody > tr.button > td:last-child {
    text-align: right;
}

main > .wrap > section > table > tbody > tr.button > td:last-child > * {
    margin-left: 0.3rem;
}

main > .wrap > section > table > tbody > tr.button > td > a {
    width: 7rem;
    box-sizing: border-box;
    padding: 0.825rem 0;
    margin: 0.825rem 0 1.5rem 0;
}

main > .wrap > section > table > tfoot > tr > * {
}

main > .wrap > section > table > tfoot > tr.comment-read,
main > .wrap > section > table > tfoot > tr.comment-write {
    border: 0.0625rem solid var(--border-color-default);
}

main > .wrap > section > table > tfoot > tr.comment-read.head > td {
    font-weight: 500;
    padding: 0.5rem 2rem;
    text-align: left;
}

main > .wrap > section > table > tfoot > tr.comment-read.head > td > span {
    color: #80858a;
    font-size: 0.6rem;
    font-weight: 400;
    padding: 0 1rem;
}

main > .wrap > section > table > tfoot > tr.comment-read.cont > td {
    font-size: 0.8rem;
    padding: 2rem;
}

/*main > .wrap > section > table > tfoot > tr.comment-read.cont > td > span {*/
/*    margin-bottom: 3rem;*/
/*}*/

main > .wrap > section > table > tfoot > tr.empty > td {
    width: 100%;
    height: 3rem;
}

main > .wrap > section > table > tfoot > tr.comment-write.head > td {
    background-color: #f7f7f7;
    font-weight: 600;
    padding: 0.6rem 2rem;
}

main > .wrap > section > table > tfoot > tr.comment-write.cont > td > form input {
    width: 9.5%;
    border: none;
    box-sizing: border-box;
    padding: 2rem;
    outline: none;
}

main > .wrap > section > table > tfoot > tr.comment-write.cont > td > form > label > input {
    width: 90%;
    border-right: 0.0625rem solid var(--border-color-default);
}