body.write > main {
    align-items: center;
    padding: 5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main > .wrap > h1 {
    display: none;
}

main > .wrap > section > form {
    /*padding-bottom: 0.75rem;*/
    width: var(--board-width-max);
}

main > .wrap > section > form > table {
    width: var(--board-width-max);
    border-collapse: collapse;
}

main > .wrap > section > form > table > caption {
    display: none;
}

main > .wrap > section > form > table > tbody > tr > th {
    border: 0.0625rem solid var(--border-color-default);
}

main > .wrap > section > form > table > tbody > tr > td {

}

main > .wrap > section > form label > input {
    border: 0.0625rem solid var(--border-color-default);
}

main > .wrap > section > form label > input[name="title"] {
    width: 100%;
    padding: 0.825rem 1rem;
}

.ck.ck-editor__main>.ck-editor__editable,
.ck.ck-toolbar{
    border: 0.0625rem solid var(--border-color-default) !important;
}

.ck.ck-editor__main>.ck-editor__editable {
    min-height: 30rem;
    padding: 0 1rem;
}

